@import "tailwindcss";

@font-face {
  font-family: "Chakra Petch";
  src: url("/ChakraPetch-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Chakra Petch";
  src: url("/ChakraPetch-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Chakra Petch";
  src: url("/ChakraPetch-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Chakra Petch";
  src: url("/ChakraPetch-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Chakra Petch";
  src: url("/ChakraPetch-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

* {
  font-family: "Chakra Petch", sans-serif;
}

button {
  @apply cursor-pointer;
}
